:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 1200px;
}

.container{
	background-color: #c97ba757;
	border-radius: 20px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family:'Manrope', sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
.row{
	background: var(--secondary-color);
}
p {
  /* background: var(--secondary-color); */
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  margin-top: 10px;
}

.email-link:hover {
  text-decoration: underline;
}
.weather-img {
  background-color: var(--secondary-color);
}
.me-img{
	border-radius:20px;
}
footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}
footer .social-links a:hover{
    background: var(--primary-color);	
}
.fab, .far {
    font-weight: 400;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-github:before {
    content: "\f09b";
}
.fa-instagram:before {
    content: "\f16d";
}
@media (max-width: 524px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 12px;
    opacity: 0.7;
  }
  p {
    font-size: 14px;
  }
  .email-link {
    font-size: 14px;
  }
}
